.navBarBox
{
   height: 80px; 
   width:100%;
   background-color: rgb(37, 149, 112);
   display:flex;
   align-items: center;
   position: sticky;
   top: 0;
}
.navBarLeft
{
flex:3;
}
.navBarCenter
{
    flex:5;

}
.navBarRight
{
   flex:4; 
   display: flex;
   align-items: center;
   
}
.navBarIcons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.navBarIcon
{
    margin-left: 10px;
}

.navBarLinks
{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.navBarLink
{
    margin-left: 10px;
}
.logo
{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
.searchBarBox
{
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon
{
    margin-left: 10px;
}

.searchInput
{
    border: none;
    width:80%;

}
.searchInput:focus
{
outline: none;
}