.form-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  max-width: 50%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

input, select {
  width: calc(100% - 45px);
  padding: 10px;
  margin: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button2 {
  width: calc(100% - 24px);
  padding: 10px;
  margin: 10px 12px;
  border: none;
  border-radius: 5px;
  color: rgb(235, 244, 245);
  background-color: #45a049;
  font-size: 18px;
  cursor: pointer;
}

.button2:hover {
  background-color: #45a049;
}

input:focus, select:focus {
  border-color: #4CAF50;
  outline: none;
}
