table {
  width: 85%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 18px;
  text-align: left;
}

thead {
  background-color: rgb(6, 88, 97);
  color: white;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #383d39;
  color: white;
}

tr:nth-child(even) {
  background-color: #323131;
}

tr:nth-child(odd) {
  background-color: #323131;
}

tr:hover {
  background-color: #323131;
}

.EditB, .DeleteB {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.EditB {
  background-color: #eee;
  color: #272932;
}

.DeleteB {
  background-color: #F96E2A;
  color: #F1F2EB;
}

.EditB:hover, .DeleteB:hover {
  opacity: 0.8;
}
